In [1]:
import pandas as pd

data = [['Codigo_plan','Nombre_plan'],[2933,"Ciencias de la Computación"]]

Planes_de_estudio = pd.DataFrame(data[1:], columns=data[0],)
Planes_de_estudio

   Codigo_plan                 Nombre_plan
0         2933  Ciencias de la Computación

In [2]:
Agrupaciones_CC = pd.read_excel("InfoCC.xlsx",sheet_name="Agrupaciones")
Agrupaciones_CC

,Nom_Agrupacion,Tipologia,Cant_Obligatorios,Cant_Optativos
0,MATEMÁTICAS Y ESTRUCTURAS DISCRETAS,Fundamentación,40,8
1,CIENCIAS NATURALES Y ESTADÍSTICA,Fundamentación,0,3
2,PROGRAMACIÓN Y ESTRUCTURAS DE DATOS,Fundamentación,9,0
3,ALGORITMOS Y TEORÍA DE LA COMPUTACIÓN,Disciplinar,11,3
4,SEGURIDAD INFORMÁTICA Y CODIFICACIÓN,Disciplinar,0,7
5,"SISTEMAS OPERATIVOS, DE CÓMPUTO Y COMPILADORES",Disciplinar,6,3
6,COMPUTACIÓN CIENTÍFICA,Disciplinar,4,3
7,COMPUTACIÓN APLICADA,Disciplinar,0,6
8,TRABAJO DE GRADO,Trabajo de grado,0,8
9,LIBRE ELECCIÓN,Libre Elección,0,39

In [3]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: numpy in c:\users\aleja\appdata\local\programs\python\python312\lib\site-packages (from pandasql) (1.26.2)
Requirement already satisfied: pandas in c:\users\aleja\appdata\local\programs\python\python312\lib\site-packages (from pandasql) (2.2.3)
Collecting sqlalchemy (from pandasql)
  Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aleja\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aleja\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aleja\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2023.3)
Collecting greenlet!=0.4.17 (from sqlalchemy->pandasql)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy->pandasql)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: six>=1.5 in c:\users\aleja\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 1.4 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.2 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (pyproject.toml): started
  Building wheel for pandasql (pyproject.toml): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26845 sha256=f56fc534e99227cc6c4ab9231d9d4d08fb9efe21d78ee737121f759b5024e29d
  Stored in directory: c:\users\aleja\appdata\local\pip\cache\wheels\15\a1\e7\6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: typing-extensions, greenlet, sqlalchemy, pandasql
Successfully installed greenlet-3.1.1 pandasql-0.7.3 sqlalchemy-2.0.38 typing-extensions-4.12.2

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from pandasql import sqldf

Asignaturas_CC = pd.read_excel("InfoCC.xlsx", sheet_name="PlanEstudios")
query = '''
SELECT
    "Cod Asignatura" AS "Cod_Asignatura_CC",
    "Nom_Agrupacion",
    Tipo
FROM
    Asignaturas_CC
'''

Asignaturas_CC = sqldf(query)

Asignaturas_CC

   Cod_Asignatura_CC                       Nom_Agrupacion Tipo
0     Cod Asignatura  MATEMÁTICAS Y ESTRUCTURAS DISCRETAS    B
1     Cod Asignatura  MATEMÁTICAS Y ESTRUCTURAS DISCRETAS    B
2     Cod Asignatura  MATEMÁTICAS Y ESTRUCTURAS DISCRETAS    B
3     Cod Asignatura  MATEMÁTICAS Y ESTRUCTURAS DISCRETAS    B
4     Cod Asignatura  MATEMÁTICAS Y ESTRUCTURAS DISCRETAS    B
..               ...                                  ...  ...
59    Cod Asignatura                 COMPUTACIÓN APLICADA    T
60    Cod Asignatura                 COMPUTACIÓN APLICADA    T
61    Cod Asignatura                 COMPUTACIÓN APLICADA    T
62    Cod Asignatura                 COMPUTACIÓN APLICADA    T
63    Cod Asignatura                 COMPUTACIÓN APLICADA    T

[64 rows x 3 columns]

In [5]:
Equivalencias = pd.read_excel("InfoCC.xlsx", sheet_name="Equivalencias")
query = '''
SELECT
    Cod_Asignatura,
    Cod_Asignatura_CC
FROM
    Equivalencias
'''

Equivalencias = sqldf(query)

Equivalencias

   Cod_Asignatura  Cod_Asignatura_CC
0         1000004            2016377
1         1000005            2015556
2         1000006            2015162
3         1000007            2016342
4         1000003            2015555
5         2025972            2027310
6         2015150            2019072

In [6]:
Tabla1 = pd.read_excel("InfoCC.xlsx", sheet_name="PlanEstudios")
query_1 = '''
SELECT
    Cod_Asignatura,
    Nom_Asignatura,
    Creditos
FROM
    Tabla1
'''
Tabla1 = sqldf(query_1)
Tabla2 = pd.read_excel("InfoCC.xlsx", sheet_name="Equivalencias")
query_2 = '''
SELECT
    Cod_Asignatura,
    Nom_Asignatura
FROM
    Tabla2
'''
Tabla2 = sqldf(query_2)

query_3 = '''
SELECT Cod_Asignatura, Nom_Asignatura, Creditos
FROM Tabla1
UNION
SELECT Cod_Asignatura, Nom_Asignatura, 0 AS Creditos
FROM Tabla2;
'''
Asignaturas_Info = sqldf(query_3)
Asignaturas_Info

    Cod_Asignatura                                  Nom_Asignatura  Creditos
0          1000003                                  Álgebra Lineal         0
1          1000004                             Cálculo Diferencial         0
2          1000005                                Cálculo Integral         0
3          1000006                     Cálculo en Varias Variables         0
4          1000007                        Ecuaciones Diferenciales         0
..             ...                                             ...       ...
66         2029090  Redes neuronales, arquitecturas y aplicaciones         4
67         2029272                            Práctica Profesional         6
68         2029273                        Advanced data structures         4
69         2029274                   Topics on advanced algorithms         4
70         2029275                       Complejidad computacional         4

[71 rows x 3 columns]

In [7]:
import sqlite3
Apuntador = sqlite3.connect('DatosApp.db')
cursor = Apuntador.cursor()
print("***  Base de Datos Creada y conectada a cursor ***");
Planes_de_estudio.to_sql('Planes_de_estudio', Apuntador, if_exists='replace', index=False)
Agrupaciones_CC.to_sql('Agrupaciones_CC', Apuntador, if_exists='replace', index=False)
Equivalencias.to_sql('Equivalencias', Apuntador, if_exists='replace', index=False)
Asignaturas_Info.to_sql('Asignaturas_Info', Apuntador, if_exists='replace', index=False)

# Cerrar la conexión
Apuntador.close()

***  Base de Datos Creada y conectada a cursor ***